@media only screen and (min-width: 0rem) {
    #hero-1617 {
        padding: clamp(12.5rem, 25.95vw, 18.75em) 1rem clamp(10rem, 15vw, 15rem);
        overflow: hidden;
        position: relative;
        z-index: 1;
    }
    #hero-1617 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    #hero-1617 .cs-content {
        --cornerWidth: 8.75rem;
        --cornerHeight: 8.75rem;
        width: 100%;
        max-width: 53.125rem;
        padding: clamp(3rem, 6vw, 5rem) clamp(1rem, 5vw, 3rem);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 1;
    }
    #hero-1617 .cs-content:before {
        content: "";
        width: 35%;
        max-width: var(--cornerWidth);
        height: 35%;
        max-height: var(--cornerWidth);
        border: 2px solid #fff;
        border-right: none;
        border-bottom: none;
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #hero-1617 .cs-content:after {
        content: "";
        width: 35%;
        max-width: var(--cornerWidth);
        height: 35%;
        max-height: var(--cornerHeight);
        border: 2px solid #fff;
        border-left: none;
        border-bottom: none;
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        z-index: -1;
    }
    #hero-1617 .cs-corners {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #hero-1617 .cs-corners:before {
        content: "";
        width: 35%;
        max-width: var(--cornerWidth);
        height: 35%;
        max-height: var(--cornerHeight);
        border: 2px solid #fff;
        border-right: none;
        border-top: none;
        opacity: 1;
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    #hero-1617 .cs-corners:after {
        content: "";
        width: 35%;
        max-width: var(--cornerWidth);
        height: 35%;
        max-height: var(--cornerHeight);
        border: 2px solid #fff;
        border-left: none;
        border-top: none;
        opacity: 1;
        position: absolute;
        display: block;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    #hero-1617 .cs-topper {
        font-size: clamp(0.8125rem, 1.5vw, 1rem);
        line-height: 1.2em;
        font-weight: 700;
        letter-spacing: 0.1em;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0.25rem;
        color: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        position: relative;
    }
    #hero-1617 .cs-chevron {
        --chevronColor: var(--primary);
        width: 3rem;
        height: auto;
    }
    #hero-1617 .cs-title {
        font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
        font-weight: 700;
        line-height: 1.2em;
        text-align: center;
        max-width: 51.8125rem;
        margin: 0 0 1rem 0;
        color: #fff;
        position: relative;
    }
    #hero-1617 .cs-text {
        font-size: clamp(1rem, 1.95vw, 1.25rem);
        line-height: 1.5em;
        text-align: center;
        width: 100%;
        max-width: clamp(29rem, 60vw, 38.785rem);
        margin: 0 auto 0;
        margin-bottom: 2.5rem;
        color: #fff;
    }
    #hero-1617 .cs-button-solid {
        font-size: 1rem;
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #1a1a1a;
        min-width: 12.5rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
    }
    #hero-1617 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #fff;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    #hero-1617 .cs-button-solid:hover:before {
        width: 100%;
    }
    #hero-1617 .cs-background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
    }
    #hero-1617 .cs-background:before {
        content: "";
        width: 100%;
        height: 100%;
        background: #111926;
        opacity: 0.8;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 1;
        pointer-events: none;
    }
    #hero-1617 .cs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
@media only screen and (min-width: 0rem) {
    body.dark-mode #hero-1617 .cs-background:before {
        opacity: 0.9;
    }
}
@media only screen and (min-width: 0rem) {
    #sbs-1456 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
    }
    #sbs-1456 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(3rem, 6vw, 4rem);
    }
    #sbs-1456 .cs-content {
        text-align: left;
        width: 100%;
        max-width: 32.625rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #sbs-1456 .cs-text {
        margin-bottom: 1rem;
    }
    #sbs-1456 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #sbs-1456 .cs-image-group {
        font-size: min(2.23vw, 0.83em);
        width: 40.625em;
        height: 45.5625em;
        position: relative;
    }
    #sbs-1456 .cs-picture {
        overflow: hidden;
        position: absolute;
        display: block;
    }
    #sbs-1456 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #sbs-1456 .cs-picture1 {
        width: 32.625em;
        height: 45.5625em;
        left: 0;
        top: 0;
    }
    #sbs-1456 .cs-picture2 {
        width: 23.625em;
        height: 28.75em;
        right: 0;
        bottom: 6.25em;
    }
}
@media only screen and (min-width: 64rem) {
    #sbs-1456 .cs-container {
        flex-flow: row;
        justify-content: space-between;
        align-items: stretch;
        gap: 3.25rem;
    }
    #sbs-1456 .cs-content {
        width: 40%;
        padding: 3rem 0;
        flex: none;
        align-self: center;
    }
    #sbs-1456 .cs-image-group {
        font-size: 1rem;
        width: 50vw;
        max-width: 40.625rem;
        height: auto;
        min-height: clamp(36.25rem, 50vw, 45.5625rem);
        flex: none;
        display: flex;
    }
    #sbs-1456 .cs-picture1 {
        width: 83%;
        height: auto;
        position: relative;
        left: auto;
        top: auto;
    }
    #sbs-1456 .cs-picture2 {
        width: 60%;
        height: 57%;
    }
}
@media only screen and (min-width: 0rem) {
    body.dark-mode #sbs-1456 .cs-title,
    body.dark-mode #sbs-1456 .cs-text,
    body.dark-mode #sbs-1456 .cs-li {
        color: var(--bodyTextColorWhite);
    }
    body.dark-mode #sbs-1456 .cs-title:before,
    body.dark-mode #sbs-1456 .cs-text:before,
    body.dark-mode #sbs-1456 .cs-li:before {
        background-color: var(--bodyTextColorWhite);
    }
    body.dark-mode #sbs-1456 .cs-background:before {
        background-color: var(--dark);
    }
}
@media only screen and (min-width: 0rem) {
    #amenities {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
    }
    #amenities .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(3rem, 6vw, 4rem);
    }
    #amenities .cs-content {
        text-align: left;
        width: 100%;
        max-width: 32.625rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #amenities .cs-text {
        margin-bottom: 1rem;
    }
    #amenities .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #amenities .cs-image-group {
        font-size: min(2.23vw, 0.83em);
        width: 40.625em;
        height: 45.5625em;
        position: relative;
    }
    #amenities .cs-picture {
        overflow: hidden;
        position: absolute;
        display: block;
    }
    #amenities .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #amenities .cs-picture1 {
        width: 32.625em;
        height: 45.5625em;
        right: 0;
        top: 0;
    }
    #amenities .cs-picture2 {
        width: 23.625em;
        height: 28.75em;
        left: 0;
        bottom: 6.25em;
    }
    #amenities .cs-background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #amenities .cs-background:before {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: #fff;
        pointer-events: none;
        opacity: 0.94;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #amenities .cs-background img {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        object-fit: cover;
    }
}
@media only screen and (min-width: 64rem) {
    #amenities .cs-container {
        flex-flow: row;
        justify-content: space-between;
        align-items: stretch;
        gap: 3.25rem;
    }
    #amenities .cs-content {
        width: 40%;
        padding: 3rem 0;
        flex: none;
        align-self: center;
    }
    #amenities .cs-image-group {
        font-size: 1rem;
        width: 50vw;
        max-width: 40.625rem;
        height: auto;
        min-height: clamp(36.25rem, 50vw, 45.5625rem);
        flex: none;
        display: flex;
        justify-content: flex-end;
        order: 2;
    }
    #amenities .cs-picture1 {
        width: 83%;
        height: auto;
        position: relative;
        left: auto;
        top: auto;
    }
    #amenities .cs-picture2 {
        width: 60%;
        height: 57%;
    }
}
@media only screen and (min-width: 0rem) {
    body.dark-mode #amenities .cs-title,
    body.dark-mode #amenities .cs-text,
    body.dark-mode #amenities .cs-li {
        color: var(--bodyTextColorWhite);
    }
    body.dark-mode #amenities .cs-title:before,
    body.dark-mode #amenities .cs-text:before,
    body.dark-mode #amenities .cs-li:before {
        background-color: var(--bodyTextColorWhite);
    }
    body.dark-mode #amenities .cs-h3 {
        color: var(--bodyTextColorWhite);
    }
    body.dark-mode #amenities .cs-item-text {
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
    }
    body.dark-mode #amenities .cs-icon {
        filter: brightness(125%);
    }
    body.dark-mode #amenities .cs-background:before {
        background-color: var(--dark);
    }
}
@media only screen and (min-width: 0rem) {
    #sbs-1640 {
        padding: var(--sectionPadding);
        background-color: #111926;
        overflow: hidden;
    }
    #sbs-1640 .cs-container {
        width: 100%;
        max-width: 36.5rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(3rem, 6vw, 4rem);
    }
    #sbs-1640 .cs-content {
        text-align: left;
        width: 100%;
        max-width: 39.375rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        z-index: 10;
    }
    #sbs-1640 .cs-title {
        margin: 0 0 2.5rem 0;
        color: var(--bodyTextColorWhite);
    }
    #sbs-1640 .cs-text {
        margin-bottom: 1rem;
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
    }
    #sbs-1640 .cs-bullet-list .cs-h3 {
        color: var(--bodyTextColorWhite);
    }
    #sbs-1640 .cs-bullet-list .cs-item-text {
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
    }
    #sbs-1640 .cs-picture {
        width: 100%;
        height: auto;
        min-height: 26.25rem;
        display: block;
        position: relative;
        z-index: 1;
    }
    #sbs-1640 .cs-picture iframe {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    #sbs-1640 .cs-stats-group {
        width: 100%;
        margin-top: 2rem;
        max-width: 35.625rem;
        display: flex;
        flex-direction: column;
    }
    #sbs-1640 .cs-stats {
        width: 100%;
        max-width: 39.375rem;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        row-gap: 1.5rem;
        column-gap: 0.75rem;
    }
    #sbs-1640 .cs-stat {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        grid-column: span 4;
        flex-direction: column;
        align-self: stretch;
        align-content: space-between;
    }
    #sbs-1640 .cs-number {
        font-size: clamp(2.4375rem, 5vw, 3.8125rem);
        line-height: 1.2em;
        font-weight: 900;
        text-align: left;
        color: var(--bodyTextColorWhite);
        display: block;
        margin: 0 0 0.25rem 0;
    }
    #sbs-1640 .cs-desc {
        font-size: 1rem;
        line-height: 1.5em;
        font-weight: 700;
        text-align: left;
        margin: 0;
        color: var(--primary);
    }
}
@media only screen and (min-width: 48rem) {
    #sbs-1640 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }
    #sbs-1640 .cs-stats-group {
        margin-bottom: clamp(3.25rem, 7vw, 5.625rem);
        padding-top: clamp(3.75rem, 10vw, 7.5rem);
        padding-bottom: clamp(3.75rem, 8vw, 5rem);
        position: relative;
        z-index: 1;
    }
    #sbs-1640 .cs-stats-group:before {
        content: "";
        width: 200vw;
        height: 100%;
        background: #fff;
        opacity: 1;
        position: absolute;
        display: block;
        top: 100%;
        left: -100%;
        z-index: -1;
        transform: translateX(-50%);
    }
    #sbs-1640 .cs-picture {
        height: 100%;
    }
}
@media only screen and (min-width: 0rem) {
    body.dark-mode #sbs-1640 {
        background-color: rgba(0, 0, 0, 0.6);
    }
    body.dark-mode #sbs-1640 .cs-stats-group:before {
        background-color: var(--dark);
    }
    body.dark-mode #sbs-1640 .cs-h3 {
        color: var(--bodyTextColorWhite);
    }
    body.dark-mode #sbs-1640 .cs-item-text {
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
    }
    body.dark-mode #sbs-1640 .cs-icon {
        filter: brightness(125%);
    }
}
@media only screen and (min-width: 0rem) {
    #sbsr-1162 {
        padding: var(--sectionPadding);
        padding-top: 0;
        overflow: hidden;
    }
    #sbsr-1162 .cs-container {
        width: 100%;
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(3rem, 6vw, 4rem);
    }
    #sbsr-1162 .cs-content {
        text-align: left;
        width: 100%;
        max-width: 33.875rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #sbsr-1162 .cs-text {
        margin-bottom: 1rem;
    }
    #sbsr-1162 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #sbsr-1162 .cs-image-group {
        font-size: min(2.15vw, 0.8em);
        width: 42.375em;
        height: 36.75em;
        display: block;
        position: relative;
        z-index: 1;
    }
    #sbsr-1162 .cs-picture {
        position: absolute;
    }
    #sbsr-1162 .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    #sbsr-1162 .cs-picture1 {
        width: 39.375em;
        height: 66.326531%;
        top: 0;
        right: 0;
        z-index: 10;
    }
    #sbsr-1162 .cs-picture2 {
        width: 28.8125em;
        height: 51.020408%;
        bottom: 0;
        left: 0;
        z-index: 10;
    }
    #sbsr-1162 .cs-graphic {
        height: auto;
        position: absolute;
    }
    #sbsr-1162 .cs-graphic1 {
        width: 72.125em;
        top: 1.25em;
        left: -3.75em;
        transform: rotate(-165deg);
    }
    #sbsr-1162 .cs-graphic2 {
        width: 67.8125em;
        top: 11.5625em;
        left: -1.5625em;
    }
    #sbsr-1162 .cs-box {
        width: 12.3125em;
        height: 30.272109%;
        padding: 0.5rem;
        box-sizing: border-box;
        background-color: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        z-index: 20;
        right: 0;
        bottom: 0;
    }
    #sbsr-1162 .cs-number {
        font-size: clamp(1.25rem, 4vw, 2.4375rem);
        text-align: center;
        line-height: 1.2em;
        font-weight: 700;
        width: 100%;
        margin: 0 0 clamp(0.25rem, 1vw, 0.5rem);
        color: var(--bodyTextColorWhite);
        display: block;
    }
    #sbsr-1162 .cs-desc {
        font-size: clamp(0.75rem, 1.9vw, 1rem);
        text-align: center;
        line-height: 1.2em;
        font-weight: 700;
        width: 100%;
        max-width: 12ch;
        margin: 0;
        color: var(--bodyTextColorWhite);
        display: block;
    }
}
@media only screen and (min-width: 64rem) {
    #sbsr-1162 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }
    #sbsr-1162 .cs-image-group {
        font-size: min(1.2vw, 1em);
        height: auto;
        flex: none;
        order: 2;
    }
}
@media only screen and (min-width: 0rem) {
    body.dark-mode #sbsr-1162 .cs-title,
    body.dark-mode #sbsr-1162 .cs-text,
    body.dark-mode #sbsr-1162 .cs-h3,
    body.dark-mode #sbsr-1162 .cs-li {
        color: var(--bodyTextColorWhite);
    }
    body.dark-mode #sbsr-1162 .cs-text,
    body.dark-mode #sbsr-1162 .cs-li {
        opacity: 0.8;
    }
    body.dark-mode #sbsr-1162 .cs-graphic {
        opacity: 0.1;
    }
}
@media only screen and (min-width: 0rem) {
    #contact-1150 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;
        position: relative;
        z-index: 1;
    }
    #contact-1150 .cs-container {
        width: 100%;
        max-width: 44rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        column-gap: auto;
        row-gap: clamp(3rem, 6vw, 5rem);
        position: relative;
    }
    #contact-1150 .cs-content {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #contact-1150 .cs-title {
        max-width: 23ch;
        margin: 0;
    }
    #contact-1150 .cs-text {
        margin-bottom: 1rem;
    }
    #contact-1150 .cs-text:last-of-type {
        margin-bottom: 32/16rem;
    }
    #contact-1150 .cs-picture {
        width: 100%;
        height: clamp(15rem, 35vw, 18.75rem);
        margin: 0 0 1.5rem;
        overflow: hidden;
        display: block;
        position: relative;
    }
    #contact-1150 .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    #contact-1150 .cs-contact-text {
        font-size: 1rem;
        line-height: 1.5em;
        text-align: left;
        margin: 0 0 1.5rem;
        color: var(--bodyTextColor);
    }
    #contact-1150 .cs-ul {
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        position: relative;
    }
    #contact-1150 .cs-li {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.25rem;
    }
    #contact-1150 .cs-li:hover .cs-icon-wrapper {
        transform: scale(1.1);
    }
    #contact-1150 .cs-header {
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.2em;
        margin-bottom: 0.75rem;
        color: var(--headerColor);
        display: block;
    }
    #contact-1150 .cs-link {
        font-size: 1rem;
        line-height: 1.5em;
        text-decoration: none;
        color: #767676;
        display: block;
        position: relative;
    }
    #contact-1150 .cs-link:hover {
        text-decoration: underline;
    }
    #contact-1150 .cs-icon-wrapper {
        width: 3.75rem;
        height: 3.75rem;
        margin: 0;
        border-radius: 50%;
        border: 1px solid #bababa;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: none;
        transition: transform 0.3s;
    }
    #contact-1150 .cs-icon {
        width: 1.5rem;
        height: auto;
        display: block;
    }
    #contact-1150 .cs-form {
        width: 100%;
        padding: clamp(1.5rem, 5.18vw, 3rem) clamp(1rem, 4vw, 2rem);
        box-sizing: border-box;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.75rem;
    }
    #contact-1150 .cs-label {
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        width: 100%;
        color: var(--headerColor);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.25rem;
    }
    #contact-1150 .cs-input {
        font-size: 1rem;
        width: 100%;
        height: 3.5rem;
        padding: 0;
        padding-left: 1.5rem;
        color: var(--headerColor);
        background-color: #f7f7f7;
        border: none;
        box-sizing: border-box;
    }
    #contact-1150 .cs-input::placeholder {
        color: #7d799c;
        opacity: 0.6;
    }
    #contact-1150 .cs-textarea {
        min-height: 7.5rem;
        padding-top: 1.5rem;
        margin-bottom: 0.75rem;
        font-family: inherit;
    }
    #contact-1150 .cs-submit {
        width: 100%;
        border: none;
        min-width: 17.6875rem;
    }
    #contact-1150 .cs-submit:hover {
        cursor: pointer;
    }
}
@media only screen and (min-width: 64rem) {
    #contact-1150 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #contact-1150 .cs-contact-group {
        width: 50%;
        max-width: 39.375rem;
    }
    #contact-1150 .cs-form {
        width: 46%;
        max-width: 36.125rem;
    }
    #contact-1150 .cs-submit {
        width: auto;
    }
}
@media only screen and (min-width: 0rem) {
    body.dark-mode #contact-1150 {
        background-color: rgba(0, 0, 0, 0.2);
    }
    body.dark-mode #contact-1150 .cs-title,
    body.dark-mode #contact-1150 .cs-text,
    body.dark-mode #contact-1150 .cs-header,
    body.dark-mode #contact-1150 .cs-link,
    body.dark-mode #contact-1150 .cs-label,
    body.dark-mode #contact-1150 .cs-contact-text {
        color: var(--bodyTextColorWhite);
    }
    body.dark-mode #contact-1150 .cs-contact-text,
    body.dark-mode #contact-1150 .cs-link {
        opacity: 0.8;
    }
    body.dark-mode #contact-1150 .cs-topper {
        color: var(--secondary);
    }
    body.dark-mode #contact-1150 .cs-icon-wrapper {
        border-color: #fff;
    }
    body.dark-mode #contact-1150 .cs-icon {
        filter: grayscale(1) brightness(1000%);
    }
    body.dark-mode #contact-1150 .cs-form {
        background-color: var(--medium);
    }
    body.dark-mode #contact-1150 .cs-input {
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
    }
    body.dark-mode #contact-1150 .cs-input::placeholder {
        color: #fff;
        opacity: 0.8;
    }
    body.dark-mode #contact-1150 .cs-graphic {
        opacity: 0.4;
    }
}
