---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>
{% endblock %}

{% block body %}
    <section id="hero-1617">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper aos-init aos-animate" data-aos="fade-up">Experience Londons best, right at home</span>
                <h1 class="cs-title aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">Welcome to<br>Sunningdale Heights</h1>
                <p class="cs-text aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">Register now to receive exclusive updates on rental unit availability and pricing. Be among the first to secure your rental and experience the exceptional lifestyle at Sunningdale Heights.</p>
                <button class="cs-button-solid aos-init aos-animate form-button" href="#sbs-1456" data-aos="fade-up" data-aos-delay="300">Learn More</button>
                <div class="cs-corners" aria-hidden="true"></div>
            </div>
        </div>
        <picture class="cs-background"><source media="(max-width: 600px)" srcset="/assets/images/hero.jpg"><source media="(min-width: 601px)" srcset="/assets/images/hero.jpg"><img alt="meeting" decoding="async" height="1200" src="/assets/images/hero.jpg" width="1920" aria-hidden="true" loading="lazy"></picture>
    </section>
    <style>
        #sbs-1456 .cs-logo-group {
            margin: 2rem 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 1rem;
        }
        #sbs-1456 .cs-logo-image {
            width: 40%;
            max-width: 12.5rem;
            height: auto;
            display: block;
        }
    </style>
    <section id="sbs-1456">
        <div class="cs-container">
            <div class="cs-image-group">
                <picture class="cs-picture cs-picture1 aos-init" data-aos="fade-right"><source media="(max-width: 600px)" srcset="/assets/images/Market place Option 1 brick at grade (3) (4).jpg"><source media="(min-width: 601px)" srcset="/assets/images/Market place Option 1 brick at grade (3) (4).jpg"><img alt="turbine" decoding="async" height="729" src="/assets/images/Market place Option 1 brick at grade (3) (4).jpg" width="500" aria-hidden="true" loading="lazy"></picture>
                <picture class="cs-picture cs-picture2 aos-init" data-aos="fade-left"><source media="(max-width: 600px)" srcset="/assets/images/condo.jpg"><source media="(min-width: 601px)" srcset="/assets/images/condo.jpg"><img alt="windmill" decoding="async" height="460" src="/assets/images/condo.jpg" width="378" aria-hidden="true" loading="lazy"></picture>
            </div>
            <div class="cs-content">
                <span class="cs-topper aos-init" data-aos="fade-up" data-aos-delay="100">Our Properties</span>
                <h2 class="cs-title aos-init" data-aos="fade-up" data-aos-delay="200">Sunningdale Heights - Phase I</h2>
                <p class="cs-text aos-init" data-aos="fade-up" data-aos-delay="300">Discover a lifestyle redefined at Sunningdale Heights. Sunningdale Heights is meticulously designed to offer an unmatched combination of comfort and convenience within a vibrant community. Discover a lifestyle redefined at Sunningdale Heights. Situated in the heart of London, Ontario, our property embodies contemporary and thoughtful&nbsp;design.</p>
                <p class="cs-text aos-init" data-aos="fade-up" data-aos-delay="400">Sunningdale Heights feature spacious living areas and an attention to detail that sets a new standard for living. Sunningdale Heights is more than just a development; it's a statement of sophistication.</p>
                <p class="cs-text aos-init" data-aos="fade-up" data-aos-delay="500">Indulge in an unparalleled living experience - register today for a glimpse of what awaits you.</p>
                <div class="cs-logo-group"><br>
                    <h3 class="cs-h3">Development and Construction By:</h3><img alt="aura logo" decoding="async" height="100" src="/assets/images/aura.png" class="cs-logo-image">
                    <img alt="aura logo" decoding="async" height="100" src="/assets/images/MarshallZehr-Logo-Horizontal (1).png" class="cs-logo-image"></div>
                <a class="cs-button-solid aos-init" href="https://sunningdaleheights.com/contact" data-aos="fade-up" data-aos-delay="600">Register Now</a>
            </div>
        </div>
    </section>
    <section id="amenities">
        <div class="cs-container">
            <div class="cs-image-group">
                <picture class="cs-picture cs-picture1 aos-init" data-aos="fade-left"><source media="(max-width: 600px)" srcset="/assets/images/conference_room.png"><source media="(min-width: 601px)" srcset="/assets/images/conference_room.png"><img alt="turbine" decoding="async" height="729" src="/assets/images/conference_room.png" width="500" aria-hidden="true" loading="lazy"></picture>
                <picture class="cs-picture cs-picture2 aos-init" data-aos="fade-right"><source media="(max-width: 600px)" srcset="/assets/images/gym.jpg"><source media="(min-width: 601px)" srcset="/assets/images/gym.jpg"><img alt="windmill" decoding="async" height="460" src="/assets/images/gym.jpg" width="378" aria-hidden="true" loading="lazy"></picture>
            </div>
            <div class="cs-content">
                <span class="cs-topper aos-init" data-aos="fade-up" data-aos-delay="100">Why Sunningdale</span>
                <h2 class="cs-title aos-init" data-aos="fade-up" data-aos-delay="200">Enjoy Added Benefits In Sunningdale</h2>
                <p class="cs-text aos-init" data-aos="fade-up" data-aos-delay="300">At Sunningdale Heights, we offer residents an array of building amenities, including:</p>
                <ul class="cs-bullet-list aos-init" data-aos="fade-up" data-aos-delay="400">
                    <li class="cs-li">
                        <h3 class="cs-h3"><img alt="squares" decoding="async" height="18" src="/assets/images/bullet.svg" width="17" aria-hidden="true" loading="lazy" class="cs-icon"> Party Room:</h3>
                        <p class="cs-item-text">Celebrate life's special moments with friends and family in our well-appointed party room, perfect for gatherings and events.</p>
                    </li>
                    <li class="cs-li">
                        <h3 class="cs-h3"><img alt="squares" decoding="async" height="18" src="/assets/images/bullet.svg" width="17" aria-hidden="true" loading="lazy" class="cs-icon"> Two Rooftop Terraces:</h3>
                        <p class="cs-item-text">Take in breathtaking views of London, Ontario from our two rooftop terraces. Whether you're seeking relaxation or a place to entertain, these spaces are designed for your enjoyment.</p>
                    </li>
                    <li class="cs-li">
                        <h3 class="cs-h3"><img alt="squares" decoding="async" height="18" src="/assets/images/bullet.svg" width="17" aria-hidden="true" loading="lazy" class="cs-icon"> Spacious Bedrooms:</h3>
                        <p class="cs-item-text">Rest easy in generously sized bedrooms designed for maximum comfort.</p>
                    </li>
                    <li class="cs-li">
                        <h3 class="cs-h3"><img alt="squares" decoding="async" height="18" src="/assets/images/bullet.svg" width="17" aria-hidden="true" loading="lazy" class="cs-icon"> Modern Kitchens:</h3>
                        <p class="cs-item-text">Prepare gourmet meals in our modern kitchens equipped with high-end appliances and ample counter space.</p>
                    </li>
                    <li class="cs-li">
                        <h3 class="cs-h3"><img alt="squares" decoding="async" height="18" src="/assets/images/bullet.svg" width="17" aria-hidden="true" loading="lazy" class="cs-icon"> Luxurious Bathrooms:</h3>
                        <p class="cs-item-text">Pamper yourself in elegant bathrooms with spa-like features and finishes.</p>
                    </li>
                </ul>
                <a class="cs-button-solid aos-init" href="https://sunningdaleheights.com/contact" data-aos="fade-up" data-aos-delay="500">Register Now</a>
            </div>
        </div>
        <picture class="cs-background"><source media="(max-width: 600px)" srcset="/assets/images/why-bg.jpg"><source media="(min-width: 601px)" srcset="/assets/images/why-bg.jpg"><img alt="turbine" decoding="async" height="568" src="/assets/images/why-bg.jpg" width="1280" loading="lazy"></picture>
    </section>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa-wtvfCQDK7f_3Y0rOEaD7itnh7MFy8Y&amp;callback=initMap" defer="" async=""></script>
    <script>
        var map;
        function initMap() {
            map = new google
                .maps
                .Map(document.getElementById("map"), {
                    center: {
                        lat: 43.0068428,
                        lng: -81.2774517
                    },
                    zoom: 12
                });
            [
                {
                    lat: 43.0068428,
                    lng: -81.2774517,
                    title: "Western University"
                }, {
                    lat: 42.9838142,
                    lng: -81.2512969,
                    title: "Fanshawe College"
                }, {
                    lat: 43.0205035,
                    lng: -81.2792328,
                    title: "Masonville Place"
                }, {
                    lat: 42.9828131,
                    lng: -81.2503452,
                    title: "Garden Market"
                }, {
                    lat: 42.9892363,
                    lng: -81.2484415,
                    title: "Victoria Park"
                }, {
                    lat: 42.9985512,
                    lng: -81.2638298,
                    title: "Gibbons Park"
                }, {
                    lat: 42.9843909,
                    lng: -81.2491626,
                    title: "London Music Hall"
                }, {
                    lat: 42.9825817,
                    lng: -81.2550668,
                    title: "Museum London"
                }, {
                    lat: 43.0124531,
                    lng: -81.2745418,
                    title: "London Health Sciences"
                }, {
                    lat: 43.0009578,
                    lng: -81.254751,
                    title: "St. Joseph's Health Care London"
                }, {
                    lat: 43.0324836,
                    lng: -81.3014284,
                    title: "Sunningdale Heights",
                    icon: "https://sunningdaleheights.com/assets/images/icon.png"
                }
            ].forEach(function (t) {
                var n = {
                        position: {
                            lat: t.lat,
                            lng: t.lng
                        },
                        map: map,
                        title: t.title
                    },
                    l = (t.icon && (n.icon = {
                        url: t.icon,
                        scaledSize: new google
                            .maps
                            .Size(32, 32)
                    }), new google.maps.Marker(n)),
                    e = new google
                        .maps
                        .InfoWindow({content: t.title});
                l.addListener("click", function () {
                    e.open(map, l)
                })
            })
        }
    </script>
    <section id="sbs-1640">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper aos-init" data-aos="fade-up" data-aos-delay="100">Experience the Best of London</span>
                <h2 class="cs-title aos-init" data-aos="fade-up" data-aos-delay="200">Sunningdale Amenities in London, Ontario</h2>
                <div class="cs-picture aos-init" data-aos="fade-up" data-aos-delay="300">
                    <div style="height:600px;width:450px" id="map"></div>
                </div>
            </div>
            <div class="cs-stats-group aos-init" data-aos="fade-up" data-aos-delay="400">
                <p class="cs-text">Beyond our building amenities, you'll also have access to the following local amenities:</p>
                <ul class="cs-bullet-list">
                    <li class="cs-li">
                        <h3 class="cs-h3"><img alt="squares" decoding="async" height="18" src="/assets/images/bullet.svg" width="17" aria-hidden="true" loading="lazy" class="cs-icon"> Culinary Delights:</h3>
                        <p class="cs-item-text">Satisfy your palate with a diverse culinary scene featuring restaurants that offer a world of flavours right in your neighbourhood.</p>
                    </li>
                    <li class="cs-li">
                        <h3 class="cs-h3"><img alt="squares" decoding="async" height="18" src="/assets/images/bullet.svg" width="17" aria-hidden="true" loading="lazy" class="cs-icon"> Top Schools:</h3>
                        <p class="cs-item-text">Provide your family with quality education by enrolling in nearby renowned schools and educational institutions, such as Western University and Fanshawe College.</p>
                    </li>
                    <li class="cs-li">
                        <h3 class="cs-h3"><img alt="squares" decoding="async" height="18" src="/assets/images/bullet.svg" width="17" aria-hidden="true" loading="lazy" class="cs-icon"> Shopping Paradise:</h3>
                        <p class="cs-item-text">Fulfill your shopping desires at the city's finest retail destinations, including the bustling Masonville Place and the eclectic Covent Garden Market.</p>
                    </li>
                    <li class="cs-li">
                        <h3 class="cs-h3"><img alt="squares" decoding="async" height="18" src="/assets/images/bullet.svg" width="17" aria-hidden="true" loading="lazy" class="cs-icon"> Recreation:</h3>
                        <p class="cs-item-text">Enjoy outdoor activities at nearby parks like Victoria Park and Gibbons Park, or explore cultural events at the London Music Hall and Museum London.</p>
                    </li>
                    <li class="cs-li">
                        <h3 class="cs-h3"><img alt="squares" decoding="async" height="18" src="/assets/images/bullet.svg" width="17" aria-hidden="true" loading="lazy" class="cs-icon"> Healthcare:</h3>
                        <p class="cs-item-text">Access top-notch healthcare facilities, such as London Health Sciences and St. Joseph's Health Care London, for your peace of mind.</p>
                    </li>
                </ul>
                <p class="cs-text">When you choose Sunningdale Heights, you're not just choosing a place to live; you're choosing a lifestyle enriched by the best London, Ontario has to offer. Explore all these incredible amenities when you register for updates.</p>
            </div>
        </div>
    </section>
    <section id="sbsr-1162">
        <div class="cs-container">
            <div class="cs-image-group">
                <picture class="cs-picture cs-picture1 aos-init" data-aos="fade-right"><source media="(max-width: 600px)" srcset="/assets/images/Market place Option 1 brick at grade (3) (3).jpg"><source media="(min-width: 601px)" srcset="/assets/images/Market place Option 1 brick at grade (3) (3).jpg"><img alt="appliance" decoding="async" height="390" src="/assets/images/Market place Option 1 brick at grade (3) (3).jpg" width="630" loading="lazy"></picture>
                <picture class="cs-picture cs-picture2 aos-init" data-aos="fade-left" data-aos-delay="400"><source media="(max-width: 600px)" srcset="/assets/images/neighborhood2.jpg"><source media="(min-width: 601px)" srcset="/assets/images/neighborhood2.jpg"><img alt="appliance" decoding="async" height="300" src="/assets/images/neighborhood2.jpg" width="461" loading="lazy"></picture>
                <div class="cs-box aos-init" data-aos="fade-up" data-aos-delay="100">
                    <span class="cs-number">300+</span>
                    <span class="cs-desc">Units Available</span></div>
            </div>
            <div class="cs-content">
                <span class="cs-topper aos-init" data-aos="fade-up">Life in London, Ontario</span>
                <h2 class="cs-title aos-init" data-aos="fade-up" data-aos-delay="100">Neighbourhood Information:</h2>
                <p class="cs-text aos-init" data-aos="fade-up" data-aos-delay="200">London, Ontario, seamlessly combines urban living with natural beauty. From lush parks to an array of cultural events, this city has something to offer everyone.</p>
                <p class="cs-text aos-init" data-aos="fade-up" data-aos-delay="300">Our neighbourhood guide will introduce you to:</p>
                <ul class="cs-bullet-list aos-init" data-aos="fade-up" data-aos-delay="400">
                    <li class="cs-li">
                        <h3 class="cs-h3"><img alt="squares" decoding="async" height="18" src="/assets/images/bullet.svg" width="17" aria-hidden="true" loading="lazy" class="cs-icon"> Recreation:</h3>
                        <p class="cs-item-text">Discover parks, trails, and recreational activities that allow you to embrace outdoors right at your doorstep.</p>
                    </li>
                    <li class="cs-li">
                        <h3 class="cs-h3"><img alt="squares" decoding="async" height="18" src="/assets/images/bullet.svg" width="17" aria-hidden="true" loading="lazy" class="cs-icon"> Cultural Riches:</h3>
                        <p class="cs-item-text">Immerse yourself in the city's rich history and cultural scene, with museums, galleries, and events that inspire and entertain.</p>
                    </li>
                    <li class="cs-li">
                        <h3 class="cs-h3"><img alt="squares" decoding="async" height="18" src="/assets/images/bullet.svg" width="17" aria-hidden="true" loading="lazy" class="cs-icon"> Economic Hub:</h3>
                        <p class="cs-item-text">Benefit from a thriving business environment with career opportunities in various sectors.</p>
                    </li>
                </ul>
                <a class="cs-button-solid aos-init" href="https://sunningdaleheights.com/contact" data-aos="fade-up" data-aos-delay="500">Register Now</a>
            </div>
        </div>
    </section>
    <section id="contact-1150">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Inquire</span>
                <h2 class="cs-title">Contact Us For More Details</h2>
            </div>
            <div class="cs-contact-group">
                <picture class="cs-picture"><source media="(max-width: 600px)" srcset="/assets/images/Market place Option 1 brick at grade (2).jpg"><source media="(min-width: 601px)" srcset="/assets/images/Market place Option 1 brick at grade (2).jpg"><img alt="people" decoding="async" height="300" src="/assets/images/Market place Option 1 brick at grade (2).jpg" width="630" loading="lazy"></picture>
                <p class="cs-text">Don't miss the chance to become part of the Sunningdale Heights community. Register now for exclusive updates and pricing information. It's time to come home to a new era of living in London, Ontario, where every amenity, including our building amenities, is within your reach.</p>
                <p class="cs-contact-text">Have questions or need more information? Our dedicated team is here to assist you:</p>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <picture class="cs-icon-wrapper"><img alt="phone icon" decoding="async" height="40" src="/assets/images/mech-phone.svg" width="40" aria-hidden="true" class="cs-icon"></picture>
                        <div class="cs-flex-group">
                            <span class="cs-header">Phone</span>
                            <a class="cs-link" href="tel:905-761-0077">(905) 761-0077</a>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-icon-wrapper"><img alt="address icon" decoding="async" height="40" src="/assets/images/mail.svg" width="40" aria-hidden="true" class="cs-icon"></picture>
                        <div class="cs-flex-group">
                            <span class="cs-header">Email</span>
                            <a class="cs-link" href="mailto:info@auragoc.com">info@auragoc.com</a>
                        </div>
                    </li>
                </ul>
            </div>
            <style>
                form .cs-content {
                    text-align: left!important;
                }
                form h2.cs-title {
                    font-size: 16px;
                }
                #contact-1150 .cs-label {
                    padding-top: 10px;
                }
                .radio-buttons label {
                    display: flex;
                    margin-right: 20px;
                    align-items: center;
                }
                .radio-buttons label input {
                    height: 2rem;
                    margin-left: 20px;
                    align-items: center;
                    display: flex;
                }
            </style>
        </div>
    </section>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 50,
            delay: 0,
            duration: 1e3,
            easing: "ease",
            mirror: !1
        })
    </script>
{% endblock %}